@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@import 'mixins';
@import 'normalize';
@import 'global';
@import 'colors';

body {
	overflow-x: hidden;
	font-size: 18px;
	background: $white;
	color: $gray;
	font-family: 'Plus Jakarta Sans', sans-serif;
  &::after {
    transition: all 0.5s ease-in-out;
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &.dim {
    overflow: hidden;
    &::after{
      left: 0;
      
    }
  }
}

.container {
	@include container(1440px, 1.5%);
}

.header {
	padding: 40px 0;
	display: flex;
	align-items: center;
}

.logo {
	min-width: 84px;
	position: relative;
	margin-right: 40px;
	img {
		position: relative;
		top: 5px;
	}
}

.nav {
	gap: 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	&__container {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	&__link {
		cursor: pointer;
		transition: color ease 0.3s;
		&:hover {
			color: $black;
		}
		&.btn {
			background-color: transparent;
			color: $gray;
			border: 2px solid $gray;
			transition: 0.5s;
			&:hover {
				color: $black;
				border-color: $black;
			}
		}
	}
}

.btn {
	height: 40px;
	padding: 0 20px;
	border-radius: 1rem;
	border-width: 2px;
	border-style: 1rem;
	border-color: black;
}

.dropdown {
	position: relative;
	&-title {
		transition: color ease 0.3s;
		& path {
			transition: stroke ease 0.3s;
		}
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&:hover {
			path {
				stroke: $black;
			}
			color: $black;
		}
		svg {
			transition: transform ease 0.9s;
		}
		&.open {
			svg {
				transform: rotate(-180deg);
			}
		}
	}
	&-list {
		transition: all 0.6s;
		&.open {
			opacity: 1;
			pointer-events: all;
			top: 3rem;
		}
		overflow: hidden;
		pointer-events: none;
		opacity: 0;
		display: flex;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		width: max-content;
		top: 0rem;
		position: absolute;
		padding: 1.5rem;
		flex-direction: column;
		gap: 1.5rem;
		border-radius: 16px;
		background-color: white;
		li {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 1rem;
			transition: color 0.3s;
      img{
        width: 16px;
      }
			&:hover {
				color: $black;
			}
		}
	}
	&:first-child {
		.dropdown-list {
			left: unset;
			right: 0;
		}
	}
}

.menu {
	display: none;
	cursor: pointer;
	position: relative;
	align-items: center;
	z-index: 10;
	&_active {
		.menu_open {
			display: none;
		}
		.menu_close {
			display: unset;
		}
	}
	&_close {
		display: none;
	}
}

.main {
	margin: 3rem 0;
	&__inner {
		display: flex;
		justify-content: space-around;
		gap: 2rem;
	}
}

.content {
	flex: 0 1 520px;
	&__header {
		color: $black;
		font-size: 5.1rem;
		margin-bottom: 70px;
	}
	&__text {
		line-height: 150%;
		margin-bottom: 60px;
		max-width: 430px;
	}
	&__btn {
		font-weight: 700;
		color: $white;
		background-color: $black;
		border-radius: 16px;
		height: 56px;
		width: 162px;
		margin-bottom: 100px;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			border: 2px solid $black;
			color: $black;
			background: transparent;
		}
	}
	&__comanies {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.bg-ilustration {
	flex: 0 1 480px;
	background: url('../images/image-hero-desktop.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}
footer {
	padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
	.header {
		justify-content: space-between;
		padding-bottom: 0;
	}

	.nav {
		height: 100%;
		background-color: white;
		width: 60%;
		padding: 4rem 2rem;
		position: absolute;
		right: -60%;
		top: 0;
		flex-direction: column;
		&__container {
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
			&:last-child {
				text-align: center;
				align-items: unset;
			}
		}
	}

	@keyframes menuOpen {
		0% {
			right: -60%;
		}
		// 70% {
		// 	right: 3rem;
		// }
		100% {
			right: 0;
		}
	}
	@keyframes menuClose {
		0% {
			right: 0;
		}
		// 30% {
		// 	right: 3rem;
		// }
		100% {
			right: -60%;
		}
	}

	.dropdown {
		&-list {
			background: none;
			position: initial;
			left: 1rem;
			box-shadow: none;
			max-height: 0;
			overflow: 0;
			padding: 0;
			&.open {
				padding: 1.5rem;
				height: auto;
				max-height: 500px;
			}
		}
	}


	.menu {
		display: flex;
	}

	.main {
		.container {
			padding: 0;
		}
		margin-top: 0;
		&__inner {
			flex-direction: column-reverse;
			gap: 0;
		}
	}

	.content {
		padding: 0 1.5%;
		flex: 0 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
		&__header {
			text-align: center;
			margin-bottom: 2rem;
			font-size: calc(5vw + 1rem);
		}
		&__text {
			margin-bottom: 2rem;
		}
		&__btn {
			margin-bottom: 2rem;
		}
		&__comanies {
			width: 100%;
			gap: 1rem;
			justify-content: space-around;
			img {
				max-width: 20%;
        height: 100%;
			}
		}
	}

	.bg-ilustration {
		flex: 0 1 80vw;
		background: url('../images/image-hero-mobile.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}
